@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/WorkSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/WorkSans-SemiBoldItalic.ttf") format("truetype");
}

body {
  display: flex;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  visibility: visible;
}

br {
  line-height: 0;
}

hr {
  border-color: #ff85ab;
  border-style: dashed;
}

*:focus {
  outline: blue;
}

a {
  color: #ff85ab;
}

h1,
h2,
h3 {
  color: black;
  text-decoration: none;
  margin-top: 0;
  padding-top: 20;
}

main {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

code {
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
}

pre > code {
  display: block;
  padding: 10px 13px;
  overflow-x: auto;
}

blockquote {
  background: rgba(255, 133, 171, 0.1);
  padding: 10px 10px;
  box-sizing: border-box;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

#content {
  flex: 1;
  margin-left: 300px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 600px;
}

#outline {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

#outline h1 {
  font-size: 16px;
}

#outline ul {
  list-style: none;
  padding-inline-start: 20px;
  margin-bottom: 20px;
}

#outline li {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

#outline li[disabled="false"]::before {
  content: "→";
  position: static;
  align-self: flex-start;
  font-size: 50%;
  line-height: 2;
  margin-right: 3px;
}

#outline li[disabled="true"] {
  color: black;
}

#outline li[data-wip="true"] {
  color: #ccc;
}

#outline li[data-wip="true"]::after {
  content: "*";
  text-transform: uppercase;
  position: static;
  align-self: flex-start;
}

label {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin: 0 2px;
  padding: 1px 3px;
  background: #ff85ab;
  color: white;
  display: none;
}

label[data-length="3"] {
  display: inline-block;
}

#prerequisites {
  list-style: none;
  padding-inline-start: 20px;
  margin-top: -15px;
}

#toc-link {
  display: none;
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }

  #outline {
    display: none;
  }

  #toc-link {
    display: block;
  }

  [data-page="outline"] #outline {
    display: block;
  }

  [data-page="outline"] #toc-link {
    display: none;
  }

  #content {
    margin-left: 0;
  }
}
