body {
  display: flex;
  font-family: "Work Sans";
}

main {
  padding: 30px;
  display: flex;
}

img {
  max-width: 100%;
  border: 1px solid #eaeaea;
}

code {
  background: #eaeaea;
  padding: 2px 5px;
}

pre > code {
  display: block;
  padding: 10px 13px;
  overflow-x: scroll;
}

blockquote {
  opacity: 0.5;
  border-left: 2px solid #eaeaea;
  padding-left: 10px;
}

#content {
  flex: 1;
  margin-left: 300px;
  margin-bottom: 50px;
  max-width: 600px;
}

#outline {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

#outline ul {
  list-style: none;
  padding-inline-start: 20px;
  margin-bottom: 20px;
}

#prerequisites {
  list-style: none;
  padding-inline-start: 20px;
  margin-top: -15px;
}
